[workspace]
root = "."
input = "./input"
outputs = "./outputs"

[tts.voxcpm2]
model = "./models/tts/voxcpm2"
tool = "./models/tts_tools/voxcpm2"

[tts.indextts2]
model = "./models/tts/IndexTeam--IndexTTS-2"
tool = "./models/tts_tools/indextts2"

[tts.gpt_sovits]
tool = "./models/tts_tools/gpt_sovits"

[tts.emotivoice]
model = "./models/tts/emotivoice"
tool = "./models/tts_tools/emotivoice"

[tts.kokoro]
model = "./models/tts/hexgrad--Kokoro-82M-v1.1-zh"
tool = "./models/tts_tools/kokoro"

[vc.rvc]
tool = "./models/vc_tools/rvc-webui"
models = "./assets/rvc_models"

[references]
library = "./assets/voice_samples"
